# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build output
/bin/
/dist/
/build/

# Go workspace
go.work
go.work.sum

# Dependency/cache folders
/vendor/

# Environment files
.env
.env.*
!.env.example
.env.production
.env.test

# Logs
*.log

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Air live reload
tmp/

# Coverage
coverage.out
coverage.html

# Database/local files
*.db
*.sqlite
*.sqlite3

# Docker override/local
docker-compose.override.yml
# RSA / JWT keys
openSSL/
openSSL/
*.pem
